.recipelist {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.recipeCard {
    border: 2px solid darkgrey;
    margin: 20px;
    border-radius: 10px; 
    background-color: white;
}

.imgBorder {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.viewRecipe {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid crimson;
    height: 25px;
    width: 90px;
    background-color: white;
}

p {
    font-weight: 700;
    color: black;
}